venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

data/raw/
data/processed/*.csv
data/processed/*.pcap
data/processed/*.zip
data/processed/*.md5
db_data/
notebooks/
.DS_Store
.git/
.gitignore
.env
*.zip
*.pcap
*.csv
*.md5
data/raw/
data/processed/
GeneratedLabelledFlows.zip
GeneratedLabelledFlows/

venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.git
.env
wheels
node_modules
.DS_Store
