numpy 
pandas
scikit-learn
xgboost 
flask 
joblib
flask-cors
tensorflow 
scapy 
pyshark
pymysql
flask-bcrypt
PyJWT
Flask
flask-cors
flask-limiter
Flask-SocketIO
python-dotenv
pyjwt
flask-talisman            
gunicorn
bcrypt
cryptography
requests
sqlalchemy
eventlet
gevent
gevent-websocket
Werkzeug
protobuf
h5py